# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=symfony
MYSQL_USER=symfony
MYSQL_PASSWORD=
# Symfony
APP_ENV=dev
APP_SECRET=
DATABASE_URL=mysql://symfony:symfony@mysql:3306/symfony?serverVersion=8.0
# Angular
NG_CLI_ANALYTICS=false
